div {
  background: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
  width: 450px;
  position: relative;
}
.progress-container::before {
  content: "";
  background: #e0e0e0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
}
.progress {
  background: #358bfb;
  transform: translateY(-50%);
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  transition: 0.4s ease;
}
.circle {
  background: #fff;
  z-index: 1;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}
.circle.active {
  border-color: #358bfb;
}
#btn {
  margin-top: 80px;
}
.btn {
  background: #358bfb;
  border: 0;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  display: block;
  margin: 5px;
  font-size: 14px;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
}
